<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HomeAutomationService ZUCK</title>
        <link rel="stylesheet" href="../public/stylesheets/reset.css">
        <link rel="stylesheet" href="../public/stylesheets/stylesheet.css">
    </head>

    <body>
        <header>
            <h1>HomeAutomationService ZUCK</h1>
        </header>
<!-- NEWS -->
        <section class="news">
            <img id="feed" src="../public/images/mail.png">
        </section>
        
<!-- SIDE -->
        <aside>
            <section id="time">
                <p id="clock"></p>
                <p id="date"></p>
            </section>
            <section id="weather">
                <p id="temp">Temperatur: <%= temperatureHumidity1 %></p>
                <p id="location">Berlin, Germany</p>
                <img id="weatherIcon" src="../public/images/weather.svg">
            </section>

            <div class="plants">
                <img id="plantIcon" src="../public/images/plant.svg">
                <span>Pflanze 1</span><br>
                <span>Feuchtigkeit: <%= humidity1 %> und <%= temperature1 %></span>
            </div>
             
            <div class="plants">
                <img id= "plantIcon" src="../public/images/plant.svg">
                <span>Pflanze 2</span>
            </div>   
                <img id="windowIcon" src="../public/images/window.svg">
                <span>Fenster 1</span>
                <span>Fenster AUF: <%= windowStatus %></span>
        </aside>

        <section class="inner-wrapper">
<!-- MEDIA -->
        <section id="media">
            <h2>Media</h2>
            <section id="device">
                <div id="stereo">                    
                    <img id="stereoIcon" src="../public/images/stereo.svg">
                    <span>Stereo</span>
                </div>
                <div id="tv">                    
                    <img id="tvIcon" src="../public/images/tv.svg">
                    <span>TV Wohnzimmer</span>
                </div>
            </section>
        </section>
        
<!-- LIGHTS -->
        <section class="light">
            <h2>Licht</h2>
            <section id="bulb">
                <div class="light1">
                    <a href="lichtOn">
                    <img id="bulbIcon" src="../public/images/lightbulb_new.svg">
                    <p>Wohnzimmer</p>
                    </a>
                </div>
                <div class="light1">
                    <img src="../public/images/lightbulb_new.svg">
                    <p>Schlafzimmer</p>
                </div>
                <div class="light1">
                    <img src="../public/images/lightbulb_new.svg">
                    <p>Badezimmer</p>
                </div>
                <div class="light1">
                    <img src="../public/images/lightbulb_new.svg">
                    <p>Flur Unten</p>
                </div>
                <div class="light1">
                    <img src="../public/images/lightbulb_new.svg">
                    <p>Flur Oben</p>
                </div>
                <div class="light1">
                    <img src="../public/images/lightbulb_new.svg">
                    <p>Garage</p>
                </div>
            </section>
        </section>
        </section>        
        <script type="text/javascript">
            /*setTimeout(function(){
               window.location.reload(1);
            }, 5000);     */


            var licht = document.getElementsByClassName("light1");
            licht[0].onclick = function (){
                console.log("ES WERDE LICHT!")
            };

            function updateTimeAndDate() {
                var weekdays = new Array("Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag");
                var months = new Array("Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");   
                var currDate = new Date();
                var weekday = weekdays[currDate.getDay()];
                var day = currDate.getDate();
                var month = months[currDate.getMonth()];
                var year = currDate.getFullYear();            
                document.getElementById("date").innerHTML = weekday + "," + "</br>"+ day + ". " + month + " " + year; 
                var hr = currDate.getHours();
                var min = currDate.getMinutes();
                if (min < 10) {
                    min = "0" + min;
                } 
                document.getElementById("clock").innerHTML = hr + ":" + min;    
                setTimeout(updateTimeAndDate, 10000);
            }
            updateTimeAndDate();
        </script>             
    </body>
</html>
