<html>
   <head>
       <title>ZUCK</title>
       <!--Seite alle 5 Sekunden neu laden-->
       <script>
	    setTimeout(function(){
               window.location.reload(1);
            }, 5000);
       </script>
   </head>
   <body>
       <h1>Wunderschoene ZUCK GUI</h1>
       <p>Fenster AUF: <%= windowStatus %></p>
   </body>
</html>
