@media screen and (max-width: 768px){
    *{
        overflow: visible;
        overflow-x: hidden;
    }
/*-----------HEADER-------*/
    header{
        display: block;
        background-color: #242424;
        width: 100%;
        position: fixed;
        top: 0px;
        height: auto;
    }
    #topHeader{
        cursor: pointer;
    }
    body{
        background-color: #3B3F41;
    }
     #time, #weather{
        display: none;
    }
    aside{
        width: 100%;
    }
    .inner-wrapper{
        width: 100%;
    }
        input, #media h2, .light h2{
        display: none;
        visibility: hidden;
    }
/*----------NEWS ------*/
    label {
        display: block;
        padding: 2% 0 2% 0;
        text-align: center;
        border-bottom: 1px solid #CCC;
        color: #fff;
        background-color: #4E5899;
    }
    #newsLabel {
        margin-top: 2.5em;
    }
    #news{
        width: 90%;
        margin: 5% 5% 0 5%; 
    } 
    #expand, #expand2, #expandMedia, #expandLight {
        height: 0px;
        overflow: hidden;
        transition: height 0.5s;
        color: #FFF;
    }
    #obenrechts {
        padding-bottom: 0;
    }
    
    #toggle:checked ~ #expand, #toggleMedia:checked ~ #expandMedia, #toggle2:checked ~ #expand2, #toggleLight:checked ~ #expandLight {
        height: auto;
    }

    #newsSection{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #news h3{
        font-size: 1em;
    }
    #news p{
        font-size: 0.8em;
    }
    #obenrechts{
        padding-bottom: 0;
    }
/*----------SENSOR------*/
    #sensor{
        padding-left: 0;
    }
    aside{
        padding-right: 0;
    }
    
    #sensor{
        width: 100%;
        padding: 0 0 0 0%;}


/*----------MEDIA------*/
    header{
        display: block;
        background-color: #242424;
        width: 100%;
        position: fixed;
        top: 0px;
        height: auto;
    }
    #topHeader{
        cursor: pointer;
    }
    body{
        background-color: #3B3F41;
    }
     #time, #weather{
        display: none;
    }
    aside{
        width: 100%;
        padding-right: 0%;
    }
    .inner-wrapper{
        width: 100%;
    }

    #media, .light{
        position: relative;
        width: 100%;
        left: 0;
        margin-top: 5%;
    }
    
    #media{
        margin: 0;
    }
/*----------LIGHT------*/


}
