@media screen and (max-width: 768px){
    *{
        overflow: visible;
        overflow-x: hidden;
    }
/*-----------HEADER-------*/
    header{
        display: block;
        width: 100%;
        position: fixed;
        top: 0px;
        height: auto;
    }
    h1{
        background-color: #78B721
    }
    #top{
        cursor: pointer;
    }
/*-----------GENERAL LAYOUT-------*/
    body{
        background-color: #F3EFF5;
    }
     #time, #weather{
        display: none;
    }
    aside{
        width: 100%;
        padding-right: 0%;
    }
    .inner-wrapper{
        width: 100%;
    }
    input, #media h2, .light h2{
        display: none;
        visibility: hidden;
    }
/*----------NEWS ------*/
    label {
        display: block;
        cursor: pointer;
        padding: 2% 0 2% 0;
        text-align: center;
    }
    #newsSection label{
        background-color: #9BDD27;
        margin-top: 2.5em;
    }
    #news h3, p{
        color: #31333F;
    }
    #news h3{
        font-size: 0.8em;
    }
    #news p{
        font-size: 0.6em;
    }
    #news{
        width: 90%;
        margin: 5%; 
    } 
    #expand, #expand2, #expandMedia, #expandLight {
        height: 0px;
        overflow: hidden;
        transition: height 0.5s;
        color: #FFF;
    }
    #toggle:checked ~ #expand, #toggleMedia:checked ~ #expandMedia, #toggle2:checked ~ #expand2, #toggleLight:checked ~ #expandLight {
        height: auto;
    }
    #newsSection{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
/*----------SENSOR------*/
    #obenrechts{
        padding-bottom: 0;
    }
    #sensor label{
        background-color: #14B7AC;
    }
    #sensor{
        width: 100%;
        padding: 0 0 0 0;}
    .plants, .windows{
        width: 40%;
        margin: 5%;
    }
    .sensorName, #tv span, #stereo span, .light1 p{
        font-size: 0.8em;
        color: #31333F;
    }
    .plantHumid span, .sensorStatus{
        font-size: 0.6em;           color: #31333F;
    }
    
/*----------MEDIA------*/
    #media label{
        background-color: #BFC0C0;
    }
    #media, .light{
        position: relative;
        width: 100%;
        left: 0;
        margin-top: 5%;
    }
    #media{
        margin: 0;
    }
    #stereo, #tv{
        margin: 5%;
    }
/*----------LIGHT------*/
    .light label{
        background-color: pink;
    }
    .light1{
        margin: 10% 0 5% 0;
    }

}
