@media screen and (max-width: 768px){
    *{
        overflow: visible;
    }
    header{
        display: block;
        background-color: #242424;
        width: 100%;
        position: fixed;
        top: 0px;
        height: auto;
    }
    #topHeader{
        cursor: pointer;
    }
    body{
        background-color: #3B3F41;
    }
    #news, #time, #weather{
        display: none;
    }
    aside{
        width: 100%;
    }
    .inner-wrapper{
        width: 100%;
    }
    #media, .light{
        position: relative;
        width: 100%;
        left: 0;
        margin-top: 10%;
    }
}
