
* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}
body{
    height: 100%;
    width: 100%;
    background: #000;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
}
header{
    width: 100%;
    height: 140%;
    font-size: 1em;
    text-align: center;
}

/*----- NEWS----*/
#news{
    width: 60%;
    float: left;
    padding: 2% 0 2% 2%;

}

#news h3 {
    font-size: 103%;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    /*padding-left: 2%;*/
}

#news p {
    border: solid #ffffff;
    border-width: 0 0 0 0.1em;
    padding-left: 2%;
}


/*----- SIDE----*/
aside{
    width: 33.33333%;
    float: right;
}
.time{
    float: right;
}
#clock{
    width: 50%;
    float: left;
    font-size: 4em;
}
#date{
    width: 50%;
    float: right;
    text-align: right;
    font-size: 2em;
}
#weather { 
    width: 100%;
    margin-top: 10%;
    border-bottom: 1px solid white;

}

#indoortemphumid {
    padding: 2%;
}

#outdoortemp {

}

#outdoortemphumid {
    position: relative;
    display: flex;
    flex-direction: row-reverse;

}

#outdoortext {
    position: relative;
}

#weatherIcon{
    width: 40%;
    float: right;
    margin-right: 10%;
    padding-left: 3%;
}

#weatherTemp {
    font-size: 2.3em;
}

/*#weatherTemp, #weatherDescr, #location{
    float: right;
}*/
/*----- SENSOR DATA----*/
#sensor {
    margin: 0 5% 0 5%;
    width: 100%;

}
.plants, .windows{
    margin-top: 10%;
    float: left;
    width: 50%;
}
#plantIcon, #windowIcon{
    width: 33.3%;
    float: left;
}
.plantHumid img, .plantTemp img{
    width: 15%;
    margin: 1%;
    vertical-align: middle;
}
.plantTemp img, .plantHumid img, .sensorName, .sensorStatus{
    margin-left: 5%;
}

/*----- MEDIA----*/
.inner-wrapper{
    width: 66.66666%;
    float: left;
}
h2{
    text-align: center;
}
h2:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 140px;
}
h2:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 140px;
}
#media{
    width: 50%;
    float: left;
}

#media span, #sensor p{
    margin-left: 10%
}

#stereo, #tv{
    margin: 10% 0 0 5%;

}

#stereoIcon, #tvIcon{
    width: 23.3%;
    vertical-align: middle;
}

/*----- LIGHT----*/
.light{
    float: right;
    width: 50%;
}
.light1{
    float: left;
    width: 33.33333%;
    text-align: center;
    margin-top: 2%;
}
.light img{
   width: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    
}

img:hover {
    opacity: 0.5;
}

a, a:visited, a:link, a:hover {
    text-decoration: none;
    color: white;
}
