@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,700,300);

* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: #000;
    color: white;
      font-family: 'Open Sans', Arial, sans-serif;
        line-height: normal;

}

header {
    width: 100%;
    font-size: 2em;
    text-align: center;
    display: none;
}

:focus {
      border-bottom: 5px solid white;
}

/*----- NEWS----*/
label, input{
    display: none;
}
#newsSection {
    width: 60%;
    float: left;
    margin: 2% 0;
    padding: 0 2%;
}
#newsSection h2{
    display: block;
}
#news h3 {
    font-size: 1.3em;

    text-transform: none;
    /*letter-spacing: 0.2em;*/
    text-align: left;
    font-weight: bold;

}

#news p {
    font-size: 1.1em;
    line-height: 1.5;
    border: solid #ffffff;
    border-width: 0 0 0 0.1em;
    padding-left: 2%;
}

#newsIcon {
    display: none;
}

/*----- SIDE----*/
aside {
    width: 31%;
    float: right;
    padding-right: 2%;
}

#obenrechts {
    display: block;
    width: 100%;
    float: right;
    /*border-bottom: solid #fff;
    border-width: 0.05em;*/
    padding-bottom: 5%;
}

#time {
    position: relative;
    display: flex;
    flex-direction: column;
    float: right;
    padding-top: 2%;
}

#clock {
    text-align: right;
    font-size: 5em;
}

#date {
    text-align: right;
    font-size: 1.3em;
}

#weather {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 5%;
}

#weatherIconAndInfo {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 2%;
    float: right;
    padding-bottom: 5%;
}

#weatherIconAndInfo p {
    font-size: 1.8em;
    margin-top: 8%;

}

#CelsiusAndLoc {
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    padding-right: 2%;
}

#CelsiusAndLoc p {
    font-size: 1.2em;
    text-align: right;
}

/*#outdoortemphumid {
    position: relative;
    display: flex;
    flex-direction: column;
}*/

#indoortemphumid {
    position: relative;
    font-size: 1.3em;
    text-align: left;
    margin-top: 4%;
    margin-bottom: 4%;
}

#indoortemphumid th {
    padding-top: 2%;
    padding-bottom: 2%;
}

#indoorcontainer {

    /*border-top: solid #fff;
    border-bottom: solid #fff;*/

    border-width: 0.05em;
}
#indoorcontainer img {
    width: 20%;
    height: auto;
    margin: 1%;
   float: left;    
    margin-left: 10%;
    margin-right: 2%;
}

#weatherIcon {
    width: 50%;
}

#location {
    float: right;
    text-align: right;
}

/*----- SENSOR DATA----*/
#sensor {
    padding: 0% 0 0 10%;
}

.plants, .windows {
    margin-top: 10%;
    float: left;
    width: 50%;
}

#plantIcon, #windowIcon {
    width: 33.3%;
    float: left;
}

.plantHumid img, .plantTemp img {
    width: 15%;
    margin: 1%;
    vertical-align: middle;
}

.plantTemp img, .plantHumid img, .sensorName, .sensorStatus {
    margin-left: 5%;
}

/*----- MEDIA----*/

.inner-wrapper {
    width: 66.66666%;
    float: left;
}

.inner-wrapper h2 {
    font-size: 1.5em;
    text-align: center;
}

.inner-wrapper h2:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #fff;
    width: 20%;
}

.inner-wrapper h2:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #fff;
    width: 20%;
}

#media {
    position: absolute;
    width: 30%;
    float: left;
    margin: 0 0 0 1%;
    top: 50%;
}

#media span, #sensor p {
    margin-left: 10%
}

#stereo, #tv {
    margin-left: 10%;
    margin-top: 10%;

}

#stereoIcon, #tvIcon {
    width: 23.3%;
    vertical-align: middle;
}

/*----- LIGHT----*/
.light {
    /*float: right;*/
    position: absolute;
    width: 40%;
    top: 50%;
    left: 25%;

}

.bulb{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
}

.light1 {
    float: left;
    width: 30%;
    text-align: center;
    margin-top: 2%;

}

.light img {
    width: 50%;
    margin: 7%;

}

img:hover {
    opacity: 0.5;
}

a, a:visited, a:link, a:hover {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px){
    #news{
        display: block !important;
    }
}
